body{
    margin: 0px;
    padding: 0px;
}
#main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
#main-container h1{
    font-family: 'Libre Baskerville', serif;
    padding-top: 30px;
    padding-bottom: 10px;
    color: gray;
}
#list{
    border: 2px solid rgba(128, 128, 128, 0.313);
    border-radius: 8px;
    width: 80%;
    height: 80%;
}
#description{
    border: 2px solid rgba(128, 128, 128, 0.58);
    border-radius: 5px;
}
#description input{
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
}
label{
    padding: 8px;
    font-weight: bold;
}
#category-date{
    
    display: flex;
}
#category{
    width: 50%;
    border: 2px solid rgba(128, 128, 128, 0.58);
    border-radius: 5px;

}
#due-date{
    border: 2px solid rgba(128, 128, 128, 0.58);
    border-radius: 5px;
    width: 50%;
}
#category-selection{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
}
#due-date input{
    border: none;
    outline: none;
    padding: 8px;
}
.icon{
    padding: 3px;
}
#add-delete{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 2px solid rgba(128, 128, 128, 0.58);
    border-radius: 5px;
}

#add-delete a{
    margin: 5px;
}